[Unit]
Description=Miniapp Backend Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/miniapp-backend/miniapp-backend
ExecStartPre=/bin/mkdir -p /opt/miniapp-backend/miniapp-backend/logs
ExecStart=/usr/bin/java -jar /opt/miniapp-backend/miniapp-backend/target/miniapp-backend-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target